<div id="mId<%= mark.id %>" class="grid-stack-item">
  <div class="grid-stack-item-content">
    <%= form_with(model: mark, local: true) do |form| %>

      <% if mark.errors.any? %>
        <% mark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>

      <div class="header">
        <%= form.text_field :title %>
      </div>

    <% end %>

    <div class="control">
      <%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
    </div>
  </div>
</div>
