<!DOCTYPE html>
<html>
  <head>
    <title>tabs.today / online notes</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '370524563644008');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=370524563644008&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <div class="container navigation-header">
      <div class="row">
        <div class="col-md-4">
          <%= link_to 'tabs.today', (user_signed_in? ? marks_path : '/'), class: 'logo-lp' %>
        </div>

        <div class="col-md-8">
          <% if user_signed_in? %>
            <div class="user-menu">
                <%= link_to edit_user_registration_path do %>
                  <i class="icofont-edit"></i>
                  <span>Edit profile</span>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="icofont-logout"></i>
                  <span>Logout</span>
                <% end %>
            </div>
          <% else %>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'log-in', id: nil }) do |f| %>
              <%= f.hidden_field(:remember_me, value: '1') if devise_mapping.rememberable? %>
              <%= f.email_field :email, class: 'form-control', autocomplete: 'email', placeholder: 'Enter your email' %>
              <%= f.password_field :password, class: 'form-control', autocomplete: 'current-password', placeholder: 'Enter your password' %>
              <%= f.submit 'Log in', class: 'btn btn-info' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% if params[:controller] == 'home' && params[:action] == 'index' %>
      <%= yield %>
    <% else %>
      <div class="border-top padding-top content">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    <% end %>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(55054798, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55054798" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
